<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>モビルスーツ武装検索</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    <h1>モビルスーツ武装検索</h1>
    <div class="msArmedSearch">
      <form
        action="#"
        th:action="@{/MSDB/MobileSuitArmedSearch}"
        th:object="${msArmedSearchForm}"
        method="post"
      >
        <label class="label" for="armedName">武装名</label>
        <input type="text" th:field="*{armedName}" />
        <p>
          <button type="submit">検索</button
          ><button type="reset">リセット</button>
        </p>
        <p><input type="button" value="戻る" onclick="history.back();" /></p>
      </form>
    </div>
    <style>
      .msArmedSearch label,
      input,
      textarea,
      p {
        display: block;
      }

    </style>
  </body>
</html>
