<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>武器編集</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>武器編集</h1>
    <div id="armsEdit">
        <form action="#" th:action="@{'/MSDB/Arms/' + *{armsId} + '/edit-update'}" th:object="${armsEditForm}" method="post">
            <label class="label" for="armsName">武器名</label>
            <input type="text" th:field="*{armsName}" />
            <label class="label" for="detail">詳細</label>
            <textarea rows="5" placeholder="詳細" th:field="*{detail}"></textarea>
            <p><button type="submit">更新</button><button type="reset">リセット</button></p>
            <p><input type="button" value="戻る" onclick="history.back();" /></p>
            <p><button type="submit" th:formaction="@{'/MSDB/Arms/' + *{armsId} + '/edit-delete'}">削除</button></p>
        </form>
    </div>
    <style>
        #armsEdit label,
        input,
        textarea,
        p {
          display: block;
        }
      </style>
</body>

</html>