<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="common/common :: meta_head">
    <title>武器一覧</title>
  </head>
  <body class="h-100">
    <div th:replace="common/common :: header"></div>
    <div class="container-fluid">
      <div class="row">
        <div th:replace="common/common :: sidebar"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">
          <h1>武器一覧</h1>
          <p><a th:href="@{/MSDB/Arms/-/new}">新規登録</a></p>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">武器ID</th>
                  <th scope="col">武器名</th>
                  <th scope="col">詳細</th>
                  <th scope="col">#</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="arms : ${armsList}">
                  <th th:text="${arms.armsId}" scope="row"></th>
                  <td th:text="${arms.armsName}"></td>
                  <td th:text="${arms.detail}"></td>
                  <td>
                    <a th:href="@{'/MSDB/Arms/' + ${arms.armsId} + '/edit'}"
                      >編集</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <p>
            <a th:href="@{/MSDB/Arms/-/search}">検索画面へ</a>
          </p>
        </main>
      </div>
    </div>
  </body>
</html>
