<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">
  <head th:replace="common/common :: meta_head">
    <title>装備編集</title>
  </head>
  <body class="h-100">
    <div th:replace="common/common :: header"></div>
    <div class="container-fluid">
      <div class="row">
        <div th:replace="common/common :: sidebar"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">
          <h1>装備編集</h1>
          <div id="equipmentEdit">
            <form
              action="#"
              th:action="@{'/MSDB/MobileSuits/Equipments/' + *{msId} + '/' + *{armsId} + '/edit-update'}"
              th:object="${equipmentEditForm}"
              method="post"
            >
              <label class="label" for="msName">機体名</label>
              <p th:text="*{msName}"></p>
              <label class="label" for="armsName">武器名</label>
              <p th:text="*{armsName}"></p>
              <label class="label" for="numberEquipment">装備数</label>
              <input type="text" th:field="*{numberEquipment}" />
              <label class="label" for="detail">詳細</label>
              <input type="text" th:field="*{detail}" />
              <p>
                <button type="submit">更新</button
                ><button type="reset">リセット</button>
              </p>
              <p>
                <input type="button" value="戻る" onclick="history.back();" />
              </p>
              <p>
                <button
                  type="submit"
                  th:formaction="@{'/MSDB/MobileSuits/Equipments/' +  *{msId} + '/' + *{armsId} + '/edit-delete'}"
                >
                  削除
                </button>
              </p>
            </form>
          </div>
        </main>
      </div>
    </div>
    <style>
      #equipmentEdit label,
      select,
      input,
      p {
        display: block;
      }
    </style>
  </body>
</html>
