<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="common/common :: meta_head">
    <title>モビルスーツ一覧</title>
  </head>
  <body class="h-100">
    <div th:replace="common/common :: header"></div>
    <div class="container-fluid">
      <div class="row">
        <div th:replace="common/common :: sidebar"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">
          <div
            class="d-flex justify-content-between align-items-center pb-2 mb-4 border-bottom"
          >
            <h1 class="h2">モビルスーツ一覧</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <a
                class="btn btn-outline-primary btn-sm"
                th:href="@{/MSDB/MobileSuits/-/new}"
                role="button"
                >新規登録</a
              >
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="text-nowrap" scope="col">モビルスーツID</th>
                  <th class="text-nowrap" scope="col">型式番号</th>
                  <th class="text-nowrap" scope="col">機体名</th>
                  <th class="text-nowrap" scope="col">登録日時</th>
                  <th class="text-nowrap" scope="col">更新日時</th>
                  <th class="text-nowrap" scope="col">#</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="mobilesuit : ${mobilesuits}">
                  <th
                    class="text-nowrap"
                    th:text="${mobilesuit.msId}"
                    scope="row"
                  ></th>
                  <td
                    class="text-nowrap"
                    th:text="${mobilesuit.modelNumber}"
                  ></td>
                  <td>
                    <a th:href="@{'/MSDB/MobileSuits/' + ${mobilesuit.msId}}"
                      ><span
                        class="text-nowrap"
                        th:text="${mobilesuit.msName}"
                      ></span
                    ></a>
                  </td>
                  <td
                    class="text-nowrap"
                    th:text="${mobilesuit.insertDate}"
                  ></td>
                  <td
                    class="text-nowrap"
                    th:text="${mobilesuit.updateDate}"
                  ></td>
                  <td>
                    <a
                      class="btn btn-primary btn-sm text-nowrap"
                      role="button"
                      th:href="@{'/MSDB/MobileSuits/' + ${mobilesuit.msId} + '/edit'}"
                      >編集</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="pt-2">
            <a
              class="btn btn-outline-primary btn-sm"
              th:href="@{/MSDB/MobileSuits/-/search}"
              role="button"
              >検索</a
            >
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
