<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="common/common :: meta_head">
    <title>モビルスーツ一覧</title>
  </head>
  <body class="h-100">
    <div th:replace="common/common :: header"></div>
    <div class="container-fluid">
      <div class="row">
        <div th:replace="common/common :: sidebar"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">
          <h1>モビルスーツ一覧</h1>
          <p><a th:href="@{/MSDB/MobileSuits/-/new}">新規登録</a></p>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">モビルスーツID</th>
                  <th scope="col">型式番号</th>
                  <th scope="col">機体名</th>
                  <th scope="col">登録日時</th>
                  <th scope="col">更新日時</th>
                  <th scope="col">#</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="mobilesuit : ${mobilesuits}">
                  <th th:text="${mobilesuit.msId}" scope="row"></th>
                  <td th:text="${mobilesuit.modelNumber}"></td>
                  <td>
                    <a th:href="@{'/MSDB/MobileSuits/' + ${mobilesuit.msId}}"
                      ><span th:text="${mobilesuit.msName}"></span
                    ></a>
                  </td>
                  <td th:text="${mobilesuit.insertDate}"></td>
                  <td th:text="${mobilesuit.updateDate}"></td>
                  <td>
                    <a
                      th:href="@{'/MSDB/MobileSuits/' + ${mobilesuit.msId} + '/edit'}"
                      >編集</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <p><a th:href="@{/MSDB/MobileSuits/-/search}">検索画面へ</a><br /></p>
        </main>
      </div>
    </div>
  </body>
</html>
