<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="common/common :: meta_head">
    <title>モビルスーツ一覧</title>
  </head>
  <body class="h-100">
    <div th:replace="common/common :: header"></div>
    <div class="container-fluid">
      <div class="row">
        <div th:replace="common/common :: sidebar"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">
          <div
            class="d-flex justify-content-between align-items-center pb-2 mb-4 border-bottom"
          >
            <div class="d-flex align-items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="2.7rem"
                height="2.7rem"
                fill="currentColor"
                class="bi bi-robot"
                viewBox="0 0 16 16"
              >
                <path
                  d="M6 12.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5ZM3 8.062C3 6.76 4.235 5.765 5.53 5.886a26.58 26.58 0 0 0 4.94 0C11.765 5.765 13 6.76 13 8.062v1.157a.933.933 0 0 1-.765.935c-.845.147-2.34.346-4.235.346-1.895 0-3.39-.2-4.235-.346A.933.933 0 0 1 3 9.219V8.062Zm4.542-.827a.25.25 0 0 0-.217.068l-.92.9a24.767 24.767 0 0 1-1.871-.183.25.25 0 0 0-.068.495c.55.076 1.232.149 2.02.193a.25.25 0 0 0 .189-.071l.754-.736.847 1.71a.25.25 0 0 0 .404.062l.932-.97a25.286 25.286 0 0 0 1.922-.188.25.25 0 0 0-.068-.495c-.538.074-1.207.145-1.98.189a.25.25 0 0 0-.166.076l-.754.785-.842-1.7a.25.25 0 0 0-.182-.135Z"
                />
                <path
                  d="M8.5 1.866a1 1 0 1 0-1 0V3h-2A4.5 4.5 0 0 0 1 7.5V8a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v1a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1v-.5A4.5 4.5 0 0 0 10.5 3h-2V1.866ZM14 7.5V13a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.5A3.5 3.5 0 0 1 5.5 4h5A3.5 3.5 0 0 1 14 7.5Z"
                />
              </svg>
              <h1 class="h2 mb-0 ms-2">モビルスーツ一覧</h1>
            </div>
            <div class="btn-toolbar mb-2 mb-md-0">
              <a
                class="btn btn-outline-primary btn-sm"
                th:href="@{/MSDB/MobileSuits/-/new}"
                role="button"
                >新規登録</a
              >
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="text-nowrap" scope="col">モビルスーツID</th>
                  <th class="text-nowrap" scope="col">型式番号</th>
                  <th class="text-nowrap" scope="col">機体名</th>
                  <th class="text-nowrap" scope="col">登録日時</th>
                  <th class="text-nowrap" scope="col">更新日時</th>
                  <th class="text-nowrap" scope="col">#</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="mobilesuit : ${mobilesuits}">
                  <th
                    class="text-nowrap"
                    th:text="${mobilesuit.msId}"
                    scope="row"
                  ></th>
                  <td
                    class="text-nowrap"
                    th:text="${mobilesuit.modelNumber}"
                  ></td>
                  <td>
                    <a th:href="@{'/MSDB/MobileSuits/' + ${mobilesuit.msId}}"
                      ><span
                        class="text-nowrap"
                        th:text="${mobilesuit.msName}"
                      ></span
                    ></a>
                  </td>
                  <td
                    class="text-nowrap"
                    th:text="${mobilesuit.insertDate}"
                  ></td>
                  <td
                    class="text-nowrap"
                    th:text="${mobilesuit.updateDate}"
                  ></td>
                  <td>
                    <a
                      class="btn btn-primary btn-sm text-nowrap"
                      role="button"
                      th:href="@{'/MSDB/MobileSuits/' + ${mobilesuit.msId} + '/edit'}"
                      >編集</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="pt-2">
            <a
              class="btn btn-outline-primary btn-sm"
              th:href="@{/MSDB/MobileSuits/-/search}"
              role="button"
              >検索</a
            >
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
