<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="common/common :: meta_head">
    <title>武器登録</title>
  </head>
  <body class="h-100">
    <div th:replace="common/common :: header"></div>
    <div class="container-fluid">
      <div class="row">
        <div th:replace="common/common :: sidebar"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">
          <h1>武器登録</h1>
          <div id="ArmsRegister">
            <form
              action="#"
              th:action="@{/MSDB/Arms/-/new}"
              th:object="${armsRegistForm}"
              method="post"
            >
              <label class="form-label" for="armsName">武器名</label>
              <input type="text" class="form-control" th:field="*{armsName}" />
              <label class="form-label" for="detail">詳細</label>
              <textarea
                class="form-control"
                rows="5"
                placeholder="詳細"
                th:field="*{detail}"
              ></textarea>
              <p>
                <button type="submit">登録</button
                ><button type="reset">リセット</button>
              </p>
              <p>
                <input type="button" value="戻る" onclick="history.back();" />
              </p>
            </form>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
