<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>武器登録</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>武器登録</h1>
    <div id="ArmsRegister">
        <form action="#" th:action="@{/MSDB/Arms/-/new}" th:object="${armsRegistForm}" method="post">
            <label class="label" for="armsName">武器名</label>
            <input type="text" th:field="*{armsName}" />
            <label class="label" for="detail">詳細</label>
            <textarea rows="5" placeholder="詳細" th:field="*{detail}"></textarea>
            <p><button type="submit">登録</button><button type="reset">リセット</button></p>
            <p><input type="button" value="戻る" onclick="history.back();" /></p>
        </form>
    </div>
    <style>
        #ArmsRegister label,
        input,
        textarea,
        p {
          display: block;
        }
      </style>
</body>

</html>