<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Mobile Suit</title>
</head>
<body>
<h1>MobileSuitDatabase</h1>
<p>Hello MSDB!!</p>
<ul>
    <li><a th:href="@{'/MSDB/MobileSuitList'}">モビルスーツ一覧</a></li>
    <li><a th:href="@{'/MSDB/MobileSuitArmedList'}">モビルスーツ武装一覧</a></li>
    <li><a th:href="@{'/MSDB/MobileSuitEquipmentList'}">モビルスーツ装備一覧</a></li>
    <li><a th:href="@{'/MSDB/MobileSuitRegister'}">モビルスーツ登録</a></li>
    <li><a th:href="@{'/MSDB/MobileSuitArmedRegister'}">モビルスーツ武装登録</a></li>
    <li><a th:href="@{'/MSDB/MobileSuitEquipmentRegister'}">モビルスーツ装備登録</a></li>
    <li><a th:href="@{'/MSDB/MobileSuitSearch'}">モビルスーツ検索</a></li>
    <li><a th:href="@{'/MSDB/MobileSuitArmedSearch'}">モビルスーツ武装検索</a></li>
    <li><a th:href="@{'/MSDB/MobileSuitEquipmentSearch'}">モビルスーツ装備検索</a></li>
</ul>
</body>
</html>