<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="common/common :: meta_head">
    <title>モビルスーツ詳細</title>
  </head>
  <body class="h-100">
    <div th:replace="common/common :: header"></div>
    <div class="container-fluid">
      <div class="row">
        <div th:replace="common/common :: sidebar"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">
          <div
            class="d-flex justify-content-between align-items-center pb-2 mb-4 border-bottom"
          >
            <h1 th:text="${mobilesuitDetail.msName}" class=""></h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <a
                class="btn btn-outline-secondary btn-sm"
                href="#"
                th:href="@{/MSDB/MobileSuits}"
                role="button"
                >一覧に戻る</a
              >
            </div>
          </div>

          <div class="d-flex">
            <div class="flex-shrink-0">
              <img
                th:src="${base64Data}"
                alt="モビルスーツ画像"
                style="width: 24.5em; height: 30em"
              />
            </div>
            <div id="spec" class="flex-grow-1 ms-3">
              <table class="table">
                <tr>
                  <td><b>型式番号</b></td>
                  <td th:text="${mobilesuitDetail.modelNumber}"></td>
                </tr>
                <tr>
                  <td><b>頭頂高</b></td>
                  <td th:text="${mobilesuitDetail.headHeight}"></td>
                </tr>
                <tr>
                  <td><b>全高</b></td>
                  <td th:text="${mobilesuitDetail.overallHeight}"></td>
                </tr>
                <tr>
                  <td><b>本体重量</b></td>
                  <td th:text="${mobilesuitDetail.weight}"></td>
                </tr>
                <tr>
                  <td><b>全備重量</b></td>
                  <td th:text="${mobilesuitDetail.totalWeight}"></td>
                </tr>
                <tr>
                  <td><b>動力源</b></td>
                  <td th:text="${mobilesuitDetail.powerSource}"></td>
                </tr>
                <tr>
                  <td><b>装甲材質</b></td>
                  <td th:text="${mobilesuitDetail.material}"></td>
                </tr>
                <tr>
                  <td><b>センサー有効半径</b></td>
                  <td th:text="${mobilesuitDetail.effectiveSensorRadius}"></td>
                </tr>
                <tr>
                  <td><b>ジェネレーター出力</b></td>
                  <td th:text="${mobilesuitDetail.generatorOutput}"></td>
                </tr>
                <tr>
                  <td><b>スラスター総推力</b></td>
                  <td th:text="${mobilesuitDetail.totalThrustersOutput}"></td>
                </tr>
                <tr>
                  <td><b>武装</b></td>
                  <td>
                    <div
                      th:each="equipment : ${mobilesuitDetail.equipmentArmsResultList}"
                    >
                      <p
                        id="armsList"
                        th:text="|${equipment.armsName} × ${equipment.numberEquipment}|"
                      ></p>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="mb-5"></div>
          <div class="text" style="clear: both">
            <div>
              <div
                class="d-flex justify-content-between align-items-center pb-1 mb-2 border-bottom"
              >
                <h2>機体概要</h2>
              </div>
              <p th:text="${mobilesuitDetail.msOverview}"></p>
            </div>
            <div class="mb-5"></div>
            <div>
              <div
                class="d-flex justify-content-between align-items-center pb-1 mb-2 border-bottom"
              >
                <h2>武装解説</h2>
              </div>
              <dl th:each="arms : ${mobilesuitDetail.equipmentArmsResultList}">
                <dt th:text="${arms.armsName}"></dt>
                <dd th:text="${arms.detail}"></dd>
              </dl>
            </div>
            <div class="mb-5"></div>
            <div>
              <div
                class="d-flex justify-content-between align-items-center pb-1 mb-2 border-bottom"
              >
                <h2>活躍</h2>
              </div>
              <p th:text="${mobilesuitDetail.action}"></p>
            </div>
            <div class="mb-5"></div>
          </div>
          <div class="mb-5"></div>
        </main>
      </div>
    </div>
  </body>
  <style>
    #armsList {
      margin-bottom: 5px;
    }
  </style>
</html>
