<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="common/common :: meta_head">
    <title>モビルスーツ編集</title>
  </head>
  <body class="h-100">
    <div th:replace="common/common :: header"></div>
    <div class="container-fluid">
      <div class="row">
        <div th:replace="common/common :: sidebar"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">
          <h1>モビルスーツ編集</h1>
          <div id="msEdit">
            <form
              action="#"
              th:action="@{'/MSDB/MobileSuits/' + *{msId} + '/edit-update'}"
              enctype="multipart/form-data"
              th:object="${msEditForm}"
              method="post"
            >
              <div class="row">
                <div class="col-md-3">
                  <h2 class="h5">機体名</h2>
                </div>
                <div class="col-md-9">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{msName}"
                  />
                </div>
              </div>
              <div class="mb-5"></div>
              <div class="row">
                <div class="col-md-3">
                  <h2 class="h5">型式番号</h2>
                </div>
                <div class="col-md-9">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{modelNumber}"
                  />
                </div>
              </div>
              <div class="mb-5"></div>
              <div class="row">
                <div class="col-md-3">
                  <h2 class="h5">頭高頂</h2>
                </div>
                <div class="col-md-9">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{headHeight}"
                  />
                </div>
              </div>
              <div class="mb-5"></div>
              <div class="row">
                <div class="col-md-3">
                  <h2 class="h5">全高</h2>
                </div>
                <div class="col-md-9">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{overallHeight}"
                  />
                </div>
              </div>
              <div class="mb-5"></div>
              <div class="row">
                <div class="col-md-3">
                  <h2 class="h5">本体重量</h2>
                </div>
                <div class="col-md-9">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{weight}"
                  />
                </div>
              </div>
              <div class="mb-5"></div>
              <div class="row">
                <div class="col-md-3">
                  <h2 class="h5">全備重量</h2>
                </div>
                <div class="col-md-9">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{totalWeight}"
                  />
                </div>
              </div>
              <div class="mb-5"></div>
              <div class="row">
                <div class="col-md-3">
                  <h2 class="h5">動力源</h2>
                </div>
                <div class="col-md-9">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{powerSource}"
                  />
                </div>
              </div>
              <div class="mb-5"></div>
              <div class="row">
                <div class="col-md-3">
                  <h2 class="h5">装甲材質</h2>
                </div>
                <div class="col-md-9">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{material}"
                  />
                </div>
              </div>
              <div class="mb-5"></div>
              <div class="row">
                <div class="col-md-3">
                  <h2 class="h5">センサー有効半径</h2>
                </div>
                <div class="col-md-9">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{effectiveSensorRadius}"
                  />
                </div>
              </div>
              <div class="mb-5"></div>
              <div class="row">
                <div class="col-md-3">
                  <h2 class="h5">センサー有効半径</h2>
                </div>
                <div class="col-md-9">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{effectiveSensorRadius}"
                  />
                </div>
              </div>
              <div class="mb-5"></div>
              <div class="row">
                <div class="col-md-3">
                  <h2 class="h5">ジェネレーター出力</h2>
                </div>
                <div class="col-md-9">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{generatorOutput}"
                  />
                </div>
              </div>
              <div class="mb-5"></div>
              <div class="row">
                <div class="col-md-3">
                  <h2 class="h5">スラスター総推力</h2>
                </div>
                <div class="col-md-9">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{totalThrustersOutput}"
                  />
                </div>
              </div>
              <div class="mb-5"></div>
              <div class="row">
                <div class="col-md-3">
                  <h2 class="h5">機体概要</h2>
                </div>
                <div class="col-md-9">
                  <textarea
                    class="form-control"
                    rows="5"
                    placeholder="機体概要"
                    th:field="*{msOverview}"
                  ></textarea>
                </div>
              </div>
              <div class="mb-5"></div>
              <div class="row">
                <div class="col-md-3">活躍</div>
                <div class="col-md-9">
                  <textarea
                    class="form-control"
                    rows="5"
                    placeholder="活躍"
                    th:field="*{action}"
                  ></textarea>
                </div>
              </div>
              <div class="mb-5"></div>
              <div class="row">
                <div class="col-md-3">画像ファイル</div>
                <div class="col-md-9">
                  <input
                    type="file"
                    class="form-control"
                    th:field="*{msMultipartFile}"
                  />
                </div>
              </div>
              <div class="mb-5"></div>
              <p>
                <button type="submit" class="btn btn-primary">更新</button
                ><button type="reset" class="btn btn-link">リセット</button>
              </p>
              <p>
                <input
                  type="button"
                  class="btn btn-secondary"
                  value="戻る"
                  onclick="history.back();"
                />
              </p>
              <p>
                <button
                  type="submit"
                  class="btn btn-outline-danger"
                  th:formaction="@{'/MSDB/MobileSuits/' + *{msId} + '/edit-delete'}"
                >
                  削除
                </button>
              </p>
            </form>
          </div>
        </main>
      </div>
    </div>
  </body>
  <style>
    #msEdit {
      width: 60%;
    }
  </style>
</html>
