<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="common/common :: meta_head">
    <title>装備検索</title>
  </head>
  <body class="h-100">
    <div th:replace="common/common :: header"></div>
    <div class="container-fluid">
      <div class="row">
        <div th:replace="common/common :: sidebar"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">
          <h1>装備検索</h1>
          <div class="equipmentSearch">
            <form
              action="#"
              th:action="@{/MSDB/MobileSuits/Equipments/-/search}"
              th:object="${equipmentSearchForm}"
              method="post"
            >
              <label class="form-label" for="msName">機体名</label>
              <input type="text" class="form-control" th:field="*{msName}" />
              <label class="form-label" for="armsName">武装名</label>
              <input type="text" class="form-control" th:field="*{armsName}" />
              <p>
                <button type="submit" class="btn btn-primary">検索</button
                ><button type="reset" class="btn btn-link">リセット</button>
              </p>
              <p>
                <input type="button" class="btn btn-secondary" value="戻る" onclick="history.back();" />
              </p>
            </form>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
