<!DOCTYPE html>
<html>
    <head>
        <title>モビルスーツ武装一覧</title>
    </head>
    <body>
        <h1>モビルスーツ武装一覧</h1>
        <p><a th:href="@{/MSDB/MobileSuitArmedRegister}">新規登録</a></p>
        <table border="1">
            <tr>
                <th>武装ID</th>
                <th>武装名</th>
                <th>武装説明</th>
                <th></th>
            </tr>
            <tr th:each="msArmedResult : ${msArmedResultList}">
                <td th:text="${msArmedResult.armedId}"></td>
                <td th:text="${msArmedResult.armedName}"></td>
                <td th:text="${msArmedResult.armedExplanation}"></td>
                <td><a th:href="@{'/MSDB/MobileSuitArmedEdit/' + ${msArmedResult.armedId}}">編集</a></td>
            </tr>
        </table>
        <p><a th:href="@{/MSDB/MobileSuitArmedSearch}">検索画面へ</a></p>
    </body>
</html>