<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script> 
<title>MobileSuitDatabase</title>
</head>
<body>
<h1>MobileSuitDatabase</h1>
<p>MSDBにようこそ!!</p>
<ul>
    <li><a th:href="@{'/MSDB/MobileSuits'}">モビルスーツ</a></li>
    <li><a th:href="@{'/MSDB/Arms'}">武器</a></li>
    <li><a th:href="@{'/MSDB/MobileSuits/Equipments'}">装備</a></li>
</ul>
</body>
</html>