<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="common/common :: meta_head">
    <title>モビルスーツ検索</title>
  </head>
  <body class="h-100">
    <div th:replace="common/common :: header"></div>
    <div class="container-fluid">
      <div class="row">
        <div th:replace="common/common :: sidebar"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">
          <div id="msSearch">
            <div
              class="d-flex justify-content-between align-items-center pb-2 mb-4 border-bottom"
            >
              <h1 class="h2">モビルスーツ検索</h1>
              <div class="btn-toolbar mb-2 mb-md-0">
                <input
                  type="button"
                  class="btn btn-outline-secondary btn-sm"
                  value="戻る"
                  onclick="history.back();"
                />
              </div>
            </div>
            <form
              action="#"
              th:action="@{/MSDB/MobileSuits/-/search}"
              th:object="${msSearchForm}"
              method="post"
            >
              <div class="row">
                <div class="col-md-3">
                  <h2 class="h5">型式番号</h2>
                </div>
                <div class="col-md-9">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{modelNumber}"
                  />
                </div>
              </div>
              <div class="mb-5"></div>
              <div class="row">
                <div class="col-md-3">
                  <h2 class="h5">機体名</h2>
                </div>
                <div class="col-md-9">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{msName}"
                  />
                </div>
              </div>
              <div class="mb-5"></div>
              <div class="row">
                <div class="col-md-3">
                  <h2 class="h5">頭高頂</h2>
                </div>
                <div class="col-md">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{headHeightFrom}"
                  />
                </div>
                <div class="col-auto">
                  <span class="form-control-plaintext">～</span>
                </div>
                <div class="col-md">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{headHeightTo}"
                  />
                </div>
              </div>
              <div class="mb-5"></div>
              <div class="row">
                <div class="col-md-3">
                  <h2 class="h5">全高</h2>
                </div>
                <div class="col-md">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{overallHeightFrom}"
                  />
                </div>
                <div class="col-auto">
                  <span class="form-control-plaintext">～</span>
                </div>
                <div class="col-md">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{overallHeightTo}"
                  />
                </div>
              </div>
              <div class="mb-5"></div>
              <div class="row">
                <div class="col-md-3">
                  <h2 class="h5">本体重量</h2>
                </div>
                <div class="col-md">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{weightFrom}"
                  />
                </div>
                <div class="col-auto">
                  <span class="form-control-plaintext">～</span>
                </div>
                <div class="col-md">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{weightTo}"
                  />
                </div>
              </div>
              <div class="mb-5"></div>
              <div class="row">
                <div class="col-md-3">
                  <h2 class="h5">全備重量</h2>
                </div>
                <div class="col-md">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{totalWeightFrom}"
                  />
                </div>
                <div class="col-auto">
                  <span class="form-control-plaintext">～</span>
                </div>
                <div class="col-md">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{totalWeightTo}"
                  />
                </div>
              </div>
              <div class="mb-5"></div>
              <div class="row">
                <div class="col-md-3">
                  <h2 class="h5">動力源</h2>
                </div>
                <div class="col-md-9">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{powerSource}"
                  />
                </div>
              </div>
              <div class="mb-5"></div>
              <div class="row">
                <div class="col-md-3">
                  <h2 class="h5">装甲材質</h2>
                </div>
                <div class="col-md-9">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{material}"
                  />
                </div>
              </div>
              <div class="mb-5"></div>
              <div class="row">
                <div class="col-md-3">
                  <h2 class="h5">センサー有効半径</h2>
                </div>
                <div class="col-md">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{effectiveSensorRadiusFrom}"
                  />
                </div>
                <div class="col-auto">
                  <span class="form-control-plaintext">～</span>
                </div>
                <div class="col-md">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{effectiveSensorRadiusTo}"
                  />
                </div>
              </div>
              <div class="mb-5"></div>
              <div class="row">
                <div class="col-md-3">
                  <h2 class="h5">ジェネレーター出力</h2>
                </div>
                <div class="col-md">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{generatorOutputFrom}"
                  />
                </div>
                <div class="col-auto">
                  <span class="form-control-plaintext">～</span>
                </div>
                <div class="col-md">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{generatorOutputTo}"
                  />
                </div>
              </div>
              <div class="mb-5"></div>
              <div class="row">
                <div class="col-md-3">
                  <h2 class="h5">スラスター総推力</h2>
                </div>
                <div class="col-md">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{totalThrustersOutputFrom}"
                  />
                </div>
                <div class="col-auto">
                  <span class="form-control-plaintext">～</span>
                </div>
                <div class="col-md">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{totalThrustersOutputTo}"
                  />
                </div>
              </div>
              <div class="mb-5"></div>
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <button type="submit" class="btn btn-primary">検索</button
                  ><button type="reset" class="btn btn-link">リセット</button>
                </div>
              </div>
            </form>
          </div>
        </main>
      </div>
    </div>
  </body>
  <style>
    #msSearch {
      width: 60%;
    }
  </style>
</html>
