<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">
  <head th:replace="common/common :: meta_head">
    <title>モビルスーツ検索</title>
  </head>
  <body class="h-100">
    <div th:replace="common/common :: header"></div>
    <div class="container-fluid">
      <div class="row">
        <div th:replace="common/common :: sidebar"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">
          <h1>モビルスーツ検索</h1>
    <div class="msSearch">
      <form
        action="#"
        th:action="@{/MSDB/MobileSuits/-/search}"
        th:object="${msSearchForm}"
        method="post"
      >
        <label class="form-label" for="modelNumber">型式番号</label>
        <input type="text" class="form-control" th:field="*{modelNumber}" />
        <label class="form-label" for="msName">機体名</label>
        <input type="text" class="form-control" th:field="*{msName}" />
        <div class="row">
          <label class="form-label" for="headHeight">頭高頂</label>
          <div class="col-sm">
            <input type="text" class="form-control" th:field="*{headHeightFrom}" />
          </div>
          <div class="col-auto">
            <span class="form-control-plaintext">～</span>
          </div>
          <div class="col-sm">
            <input type="text" class="form-control" th:field="*{headHeightTo}" />
          </div>
        </div>
        <div class="row">
          <label class="form-label" for="overallHeight">全高</label>
          <div class="col-sm">
            <input type="text" class="form-control" th:field="*{overallHeightFrom}" />
          </div>
          <div class="col-auto">
            <span class="form-control-plaintext">～</span>
          </div>
          <div class="col-sm">
            <input type="text" class="form-control" th:field="*{overallHeightTo}" />
          </div>
        </div>
        <div class="row">
          <label class="form-label" for="weight">本体重量</label>
          <div class="col-sm">
            <input type="text" class="form-control" th:field="*{weightFrom}" />
          </div>
          <div class="col-auto">
            <span class="form-control-plaintext">～</span>
          </div>
          <div class="col-sm">
            <input type="text" class="form-control" th:field="*{weightTo}" />
          </div>
        </div>
        <div class="row">
          <label class="form-label" for="totalWeight">全備重量</label>
          <div class="col-sm">
            <input type="text" class="form-control" th:field="*{totalWeightFrom}" />
          </div>
          <div class="col-auto">
            <span class="form-control-plaintext">～</span>
          </div>
          <div class="col-sm">
            <input type="text" class="form-control" th:field="*{totalWeightTo}" />
          </div>
        </div>
        <label class="form-label" for="powerSource">動力源</label>
        <input type="text" class="form-control" th:field="*{powerSource}" />
        <label class="form-label" for="material">装甲材質</label>
        <input type="text" class="form-control" th:field="*{material}" />
        <div class="row">
          <label class="form-label" for="effectiveSensorRadius">センサー有効半径</label>
          <div class="col-sm">
            <input type="text" class="form-control" th:field="*{effectiveSensorRadiusFrom}" />
          </div>
          <div class="col-auto">
            <span class="form-control-plaintext">～</span>
          </div>
          <div class="col-sm">
            <input type="text" class="form-control" th:field="*{effectiveSensorRadiusTo}" />
          </div>
        </div>
        <div class="row">
          <label class="form-label" for="generatorOutput">ジェネレーター出力</label>
          <div class="col-sm">
            <input type="text" class="form-control" th:field="*{generatorOutputFrom}" />
          </div>
          <div class="col-auto">
            <span class="form-control-plaintext">～</span>
          </div>
          <div class="col-sm">
            <input type="text" class="form-control" th:field="*{generatorOutputTo}" />
          </div>
        </div>
        <div class="row">
          <label class="form-label" for="totalThrustersOutput"
            >スラスター総推力</label
          >
          <div class="col-sm">
            <input type="text" class="form-control" th:field="*{totalThrustersOutputFrom}" />
          </div>
          <div class="col-auto">
            <span class="form-control-plaintext">～</span>
          </div>
          <div class="col-sm">
            <input type="text" class="form-control" th:field="*{totalThrustersOutputTo}" />
          </div>
        </div>
        <p>
          <button type="submit">検索</button
          ><button type="reset">リセット</button>
        </p>
        <p><input type="button" value="戻る" onclick="history.back();" /></p>
      </form>
    </div>
        </main>
      </div>
    </div>
  </body>
</html>
