<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="common/common :: meta_head">
    <title>装備登録</title>
  </head>
  <body class="h-100">
    <div th:replace="common/common :: header"></div>
    <div class="container-fluid">
      <div class="row">
        <div th:replace="common/common :: sidebar"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">
          <div id="equipmentRegister">
            <div
              class="d-flex justify-content-between align-items-center pb-2 mb-4 border-bottom"
            >
              <h1 class="h2">装備登録</h1>
              <div class="btn-toolbar mb-2 mb-md-0">
                <input
                  type="button"
                  class="btn btn-outline-secondary btn-sm"
                  value="戻る"
                  onclick="history.back();"
                />
              </div>
            </div>
            <form
              action="#"
              th:action="@{/MSDB/MobileSuits/Equipments/-/new}"
              th:object="${equipmentRegistForm}"
              method="post"
            >
              <div class="row">
                <div class="col-md-3">
                  <h2 class="h5">機体名</h2>
                </div>
                <div class="col-md-9">
                  <select class="form-select" id="msId" name="msId">
                    <option
                      th:each="mobilesuit : *{msList}"
                      th:value="${mobilesuit.msId}"
                      th:text="${mobilesuit.msName}"
                      th:select="${mobilesuit.msId} == *{msId}"
                    ></option>
                  </select>
                </div>
              </div>
              <div class="mb-5"></div>
              <div class="row">
                <div class="col-md-3">
                  <h2 class="h5">武器名</h2>
                </div>
                <div class="col-md-9">
                  <select class="form-select" id="armsId" name="armsId">
                    <option
                      th:each="arms : *{armsList}"
                      th:value="${arms.armsId}"
                      th:text="${arms.armsName}"
                      th:select="${arms.armsId} == *{armsId}"
                    ></option>
                  </select>
                </div>
              </div>
              <div class="mb-5"></div>
              <div class="row">
                <div class="col-md-3">
                  <h2 class="h5">装備数</h2>
                </div>
                <div class="col-md-9">
                  <input
                    type="text"
                    class="form-control"
                    th:field="*{numberEquipment}"
                  />
                </div>
              </div>
              <div class="mb-5"></div>
              <div class="row">
                <div class="col-md-3">
                  <h2 class="h5">詳細</h2>
                </div>
                <div class="col-md-9">
                  <textarea
                    class="form-control"
                    rows="5"
                    placeholder="詳細"
                    th:field="*{detail}"
                  ></textarea>
                </div>
              </div>
              <div class="mb-5"></div>
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <button type="submit" class="btn btn-primary">登録</button
                  ><button type="reset" class="btn btn-link">リセット</button>
                </div>
              </div>
            </form>
          </div>
        </main>
      </div>
    </div>
  </body>
  <style>
    #equipmentRegister {
      width: 60%;
    }
  </style>
</html>
