<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>モビルスーツ装備編集</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>モビルスーツ装備編集</h1>
    <div id="msEquipmentEdit">
        <form action="#" th:action="@{/MSDB/MobileSuitEquipmentEdit/{equipmentId}(equipmentId=*{equipmentId})}" th:object="${msEquipmentEditForm}"
            method="post">
            <label class="label" for="msName">機体名</label>
            <p th:text="*{msName}"></p>
            <label class="label" for="armedName">武装名</label>
            <p th:text="*{armedName}"></p>
            <label class="label" for="numberEquipment">装備数</label>
            <input type="text" th:field="*{numberEquipment}" />
            <p><button type="submit">更新</button><button type="reset">リセット</button></p>
        </form>
    </div>
    <style>
        #msEquipmentRegister label,
        select,
        input,
        p {
            display: block;
        }
    </style>
</body>

</html>