<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>モビルスーツ編集</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <h1>モビルスーツ編集</h1>
  <div id="msEdit">
    <form action="#" th:action="@{/MSDB/MobileSuitEdit/{msId}(msId=*{msId})}" th:object="${msEditForm}" method="put">
      <label class="label" for="msName">機体名</label>
      <input type="text" th:field="*{msName}" />
      <label class="label" for="modelNumber">型式番号</label>
      <input type="text" th:field="*{modelNumber}" />
      <label class="label" for="msUrl">機体URL</label>
      <input type="text" th:field="*{msUrl}" />
      <label class="label" for="headHeight">頭高頂</label>
      <input type="text" th:field="*{headHeight}" />
      <label class="label" for="weight">本体重量</label>
      <input type="text" th:field="*{weight}" />
      <label class="label" for="totalWeight">全備重量</label>
      <input type="text" th:field="*{totalWeight}" />
      <label class="label" for="powerSource">動力源</label>
      <input type="text" th:field="*{powerSource}" />
      <label class="label" for="material">装甲材質</label>
      <input type="text" th:field="*{material}" />
      <label class="label" for="generatorOutput">ジェネレーター出力</label>
      <input type="text" th:field="*{generatorOutput}" />
      <label class="label" for="totalThrustersOutput">スラスター総推力</label>
      <input type="text" th:field="*{totalThrustersOutput}" />
      <label class="label" for="msOverview">機体概要</label>
      <textarea rows="5" placeholder="機体概要" th:field="*{msOverview}"></textarea>
      <label class="label" for="action">活躍</label>
      <textarea rows="5" placeholder="活躍" th:field="*{action}"></textarea>
      <p><button type="submit">更新</button><button type="reset">リセット</button></p>
    </form>
  </div>
  <style>
    #msEdit label,
    input,
    textarea,
    p {
      display: block;
    }
  </style>
</body>

</html>