<!DOCTYPE html>
<html>
    <head>
        <title>モビルスーツ一覧</title>
    </head>
    <body>
        <h1>モビルスーツ一覧</h1>
        <table border="1">
            <tr>
                <th>ユニークID</th>
                <th>型式番号</th>
                <th>機体名</th>
                <th>登録日時</th>
                <th>更新日時</th>
            </tr>
            <tr>
                <td>AADQW05</td>
                <td>RX-78-02</td>
                <td>ガンダム</td>
                <td>2022/12/30 12:30:40</td>
                <td>2022/12/30 12:30:40</td>
            </tr>
            <tr>
                <td>CSDQW05</td>
                <td>MS-06F</td>
                <td>ザクⅡF型</td>
                <td>2022/12/30 12:30:40</td>
                <td>2022/12/30 12:30:40</td>
            </tr>
        </table>
    </body>
</html>